<h2>Show Article</h2>
<p><%= @article.title %></p>
<p><%= @article.text %></p>

<br/>
<br/>
<h3>Comments</h3><br/>
<% @article.comments.each do |f| %>
      <p>Author:<i> <%= f.author %></i></p>
      <p>Comment: <%= f.body %></p>
      <br/>
      <hr/>
<% end %>

<h2>Add Comment</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
      <p>
        <%= f.label :author %><br/>
        <%= f.text_field :author %>
    </p>
    <p>
        <%= f.label :body %><br/>
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
